services:
  web:
    image: $CLIENT_IMAGE
    networks:
      - caddy
    labels:
      caddy: http://judge.chocobo.io
      caddy.reverse_proxy: "{{upstreams $CLIENT_PORT}}"
  server:
    image: $SERVER_IMAGE
    networks:
      - caddy
    labels:
      caddy: http://api.judge.chocobo.io
      caddy.reverse_proxy: "{{upstreams $SERVER_PORT}}"
    depends_on:
      - "database"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/" ]
      interval: 5s
      retries: 3
      timeout: 2s
      start_period: 5s
    restart: unless-stopped
    environment:
      DB_NAME: "judge"
      DB_HOST: "database"
      DB_PASS: $POSTGRES_PASSWORD
      DB_PORT: "5432"
      DB_USER: $POSTGRES_USER
      PORT: $SERVER_PORT
      NODE_ENV: $NODE_ENV
  caddy:
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    ports:
      - 80:80
      - 443:443
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    networks:
      - caddy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./caddy_data:/data
    restart: unless-stopped
  database:
    image: "postgres:17"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "$POSTGRES_USER", "-d", "judge"]
      interval: 5s
      retries: 5
      timeout: 3s
      start_period: 10s
    ports:
      - "5432:5432"
    volumes:
      - "./pg_data:/var/lib/postgresql/data"
    networks:
      - caddy
    environment:
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_DB: "judge"
networks:
  caddy:
    name: caddy